.table-responsive{
    padding: 10px;
}
form{
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0, 0,0, 0.2), 0 6px 20px 0 rgb(0, 0,0, 0.19);
}

@media (max-width: 575.98px) {
    form {
        width: 105%;
    }
}

table{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0, 0,0, 0.2), 0 6px 20px 0 rgb(0, 0,0, 0.19);
}